.CodeMirror {
  float: left;
  margin-right: 10px;
}

.staticName {
  user-select: none;
  display: inline-block;
  font-family: Monaco, 'Andale Mono', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
}

.staticName:hover, .staticName:focus {
  background-color: #cccccc;
  border: solid #444444 1px;
}

#shadamaCanvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;

    border-width: 2px;
    border-style: solid;
    border-color: #ccc;
    margin-right: 20px;
}

parseerror {
  display: block;
  white-space: pre-wrap;
  color: maroon;
  background: yellow;
  padding: 0 4px;
  padding: 4px;
  opacity: 1;
  max-height: 100pt;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

